{% extends 'blog/base.html' %}
{% block content %}
<style>
.image{
    height: 35vh;
    
}
</style>
<hr style="border: 0.2vh solid rgb(8, 8, 8); margin-bottom: 5vw;
    border-radius: 5px;">

<i><h4 style="text-align: center; font-weight: bolder; font-family:cursive; margin-top: 1vh; font-size: 3vh;">
    उड़ान की फिक्र नहीं, 
    हौसलों मे जान रखता हूँ ,<br>
    भीड से अलग ,
    मै अपनी पहचान रखता हूँ ।<br>
    </i></h4>

    <hr style="border: 0.1vh solid rgb(8, 8, 8); margin-bottom: 5vw;
    border-radius: 5px;"> 
    
    <h2 style="text-align:left; font-weight: bolder; font-size: 3vh; margin-left: 3vh;  margin-top: 1vh;">
      मनोज कान्हे 'शिवांश'
  </h2>

    <div class="card-body">
        
        
        

        <img src="https://lh3.googleusercontent.com/vRLYTH9LYpMV04qCs9WHRTHiMAvhEuVWeHdqf7O-qv_r0ImaSoGry0zvm0aEId52_5xbv2w4kURWoEMfp5sI3S6D4GWpFvAWGA220G2UZuSILpZ_HcIGv_Svk1HrXO0u2hn00BvoC6MynzK6uY4eR4LVmrtOKWaMUG76VqwcRfj4d6Upoj4rqdBTU_Jm7qru8EChya_mtSLdyUv2uVIUeyFEmMk4_wo9bEwyTu4xorZldhZGDv7TsZczmNtgU54W77Eyt4pzliCRFX_in3QYf4cgAFAa-phDwJk7fidEnQtKL7d8dySZA9FCfMdZ5WxdICbLwWSFxnRmIc8iJTfFM6pqio76IteuzoPX1ZHYWUNo90OnA_g2DpiL-iZeRfFPxSEiDJC7arrUZGtpiN6U03B-LAnJ_bHkmg59wH8hG4YoWrUhD4ThjryRvdhHxcEqoQVOZdGh93JrQYwcIlUyROU2j1Ntm9CaMrMDIt4eyX345hilqhHqy9ug4kRzEHPEtknLKcFF-gwXrlfkRAUxj7t9CYfn27t1gRdwkhT9IhyP8exlYqT7P4n9GShStCfFZEqxyNQl2580OLEswACe0TQYoCu4XPw8IRUkdS9ZRG0lBGJTnOppIBUTFjhxpI5DBQwLikuVx1lfTHR3yY_62ZH-1DguQ8mKSmp6Z7o_sOWZv5FjMVxG7S9A7Y40=w675-h883-no?authuser=0" class="image">
    </div>
    <h3 style="margin-left: 2vh; font-weight: 700;">साहित्यिक उपलब्धियाँ:--</h3>
    <p style="margin-left: 2.5vh; color: black; font-weight: 600;"> 
      जे. एम.ड़ी प्रकाशन दिल्ली द्वारा पुलवामा शहीदों को समर्पित पुस्तक <u>"भारत माता की जय"</u> मे रचनात्मक सहयोग के लिये अटल साहित्य
       अकादमी की ओर से <br> <u>"मातृभूमि सम्मान"</u></u> एवम् <u>"प्रतिभाशाली रचनाकार सम्मान"</u> ।
    </p>
    
    
   <!-- <div style="margin-top: 20vh ; margin-left: 10vw; margin-bottom: 3vw;">

    
    style="height: 35vh; width: 20vw; margin-left: 60vw; margin-bottom: 10vh; margin-top: -10vh; padding-top: 1vh;">
    </div>-->

    
    <br><br><br><br><br><br><br><br><br><br>



    {% endblock content %}
    