{% extends 'blog/base.html' %}

{% block content %}
<p style="text-align: center; padding-top: 6vw; font-size: 3vw; font-weight: bold;">
  You can connect with me on facebook and youtue for more such content</p>
<div class="fb-page"  style="padding-left: 27vw; padding-top: 4vw;">
    <a href="https://www.facebook.com/Manoj-Kanhey-Shivansh-106784087354006/">
      <img src="https://image.shutterstock.com/image-photo/kiev-ukraine-april-27-2015-260nw-278925056.jpg" height="100vw" width="120vw">
    </a>
    <a href="https://www.youtube.com/channel/UCDPCB1A2UdwCbI6b9FHntUg" style="padding-left: 10vw;">
      <img src="https://lh3.googleusercontent.com/proxy/QaAd28V9_gBlpOe9Etnad3s3M4sfMF-nBrez572F6JhTV98MrzkDJ18-EFuoeHfjnX3cMMk3dBgQsLiZX71d_a0_yYfbpnWreVVVu1O-9octWkjWBIU"  
      height="100vw" width="120vw" >
    </a>

</div>
      
      

  
  {% endblock content %}
  


  